section {
 position: relative;
 bottom: 15px;
 height: 300px;
 width: 550px;
 background-color: blue;
 }
#a {
 position: relative;
 right: 5px;
 border: 5px solid blue;
}
#b {
 position: relative;
 right: 5px;
 border: 5px solid blue;
}
#priority {
 position: relative;
 right: 5px;
 border: 5px solid blue;
}
