section {
 position: relative;
 bottom: 15px;
 height: 300px;
 width: 550px;
 background-color: blue;
 }
#button {
 position: relative;
 left: 5px;
 border: 7px solid blue;
}
#textbox {
 position: relative;
 right: 15px;
 border: 7px solid blue;
}
#priority {
 position: relative;
 right: 5px;
 border: 7px solid blue;
}
.high {
 color: red;
}
.medium {
 color: yellow;
}
.low {
 color: black;
}
