section {
 height: 300px;
 width: 525px;
 background-color: blue;
}
#a {
 position: relative;
 bottom: 15px;
}
#b {
 position: relative;
 bottom: 15px;
}
#priority {
 position: relative;
 bottom: 15px;
}
